site_name: Google Docs

# documentation navigation.
  # - tabs level: .md file
    # - chapters level: 

nav:
- Document: 
    - document/index.md
    - Create a document: document/document_create.md
    - Download a document: document/document_download.md
    - Print a document: document/document_print.md
       
- Format:
    - edit/index.md
    - Format text: edit/format_text.md
    - Change paragraph styles: edit/change_paragraph_styles.md
    - Align and indent text: edit/align_and_indent_text.md
    - Change line and paragraph spacing: edit/change_line_and_paragraph_spacing.md
    - Add bullets and numbering: edit/add_bullets_and_numbering.md

- Content:
    - content/index.md
    - Format text: edit/format_text.md
    - Change paragraph styles: edit/change_paragraph_styles.md
    - Align and indent text: edit/align_and_indent_text.md
    - Change line and paragraph spacing: edit/change_line_and_paragraph_spacing.md
    - Add bullets and numbering: edit/add_bullets_and_numbering.md

- Settings:
    - content/index.md
    - settings/settings_access.md
    - settings/settings_page.md
    - settings/settings_addon.md

theme:
  font:
    text: Noto Sans
  name: material
  icon:
    logo: material/file-document-outline
  favicon: assets/favicon.png
  palette:
    # Palette toggle for light mode
    - scheme: default
      primary: blue
      toggle:
        icon: material/lightbulb 
        name: Switch to dark mode

    # Palette toggle for dark mode
    - scheme: slate
      primary: indigo
      toggle:
        icon: material/lightbulb-outline
        name: Switch to light mode
      
  features:
    - navigation.indexes
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.footer
    - navigation.top
    - navigation.instant
    - navigation.instant.progress

markdown_extensions:
  - attr_list
  - pymdownx.blocks.caption
  - attr_list
  - md_in_html
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.superfences
  - pymdownx.tabbed:
        alternate_style: true
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg

extra:
  generator: false

extra_css:
  - stylesheets/extra.css